<template>
    <div role="tablist">
        <b-card no-body class="mb-1" v-for="(order , index) in orders" v-bind:key="order.id">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button class="text-left" block href="#" v-b-toggle="'accordion-' + order.id" variant="info">Order # {{ order.id }}</b-button>
            </b-card-header>
            <b-collapse :id="'accordion-' + order.id" visible accordion="my-accordion" role="tabpanel">
                <b-button :to="{name: 'updateOrder', params: { id: order.id }}" variant="primary" size="sm" class="mt-1 mr-2 float-right">
                    Edit
                </b-button>
                <b-card-body>
                    <b-card-text>
                        <b>Supplier:</b> {{ order.supplier.name }}
                    </b-card-text>
                    <b-card-text>
                        <b>Buyer:</b> {{ order.buyer.name }}
                    </b-card-text>
                    <b-card-text>
                        <b>Currency:</b> {{ order.countries.currency_code }}
                    </b-card-text>
                    <b-card-text>
                        <b>Incoterm:</b> {{ order.incoterm}}
                    </b-card-text>
                    <b-card-text>
                        <b>Invoice Nnumber:</b> {{ order.invoice_number}}
                    </b-card-text>
                    <b-card-text>
                        <b>Measure:</b> {{ order.measure}}
                    </b-card-text>
                    <b-card-text>
                        <b>Observations:</b> {{ order.observations}}
                    </b-card-text>
                    <b-card-text>
                        <b>Order Date:</b> {{ order.order_date | formatDate}}
                    </b-card-text>
                    <b-card-text>
                        <b>Order Reference:</b> {{ order.order_reference }}
                    </b-card-text>
                    <b-card-text>
                        <b>Pyment Terms:</b> {{ order.payment_terms }}
                    </b-card-text>
                    <b-card-text>
                        <b>Quantity:</b> {{ order.quantity }}
                    </b-card-text>
                    <b-card-text>
                        <b>Status:</b> {{ order.status }}
                    </b-card-text>
                    <b-card-text>
                        <b>Total:</b> {{ order.total }}
                    </b-card-text>
                </b-card-body>
            </b-collapse>
        </b-card>
        <b-card v-show="!showOrders" border-variant="dark" align="center" class="mt-3 bg-white">
            <b-card-text>You Haven't Any Attachments</b-card-text>
        </b-card>
    </div>

</template>

<script>

    export default {
        name: "List",
        data() {
            return {
                showOrders: null,
                orders: null,
                error: null
            }
        },
        created() {
            let getOrders = `/api/company/${this.$route.params.id}/orders`;
            let vm = this;
            this.axios.get(getOrders).then(response => {
                vm.orders = response.data.orders;
                vm.showOrders = vm.orders.length
            }).catch((error) => {
                vm.$router.push({name: '403' });
            }).finally(() => {
                this.axios.get(getCountryUrl).then(response => {
                    vm.country = response.data;
                }).finally(() => {
                    vm.isBusy = false;
                    vm.show = true;
                })
            })
        },
    }
</script>

<style scoped>

</style>