<template>
    <div class="col-md-12">

        <b-card-header class="d-inline-block w-100">
            <h4 class="float-left">Update Order</h4>
        </b-card-header>
        <b-card class="mt-3">

            <b-form @submit="onSubmit" >
                <b-form-group id="input-group-1" label="Supplier:" label-for="input-1">
                    <b-form-select
                            id="input-1"
                            v-model="supplier_company_id"
                            :options="suppliers"
                            required
                    ></b-form-select>
                </b-form-group>

                <b-form-group id="input-group-2" label="Buyer:" label-for="input-2">
                    <b-form-select
                            id="input-2"
                            v-model="buyer_company_id"
                            :options="buyers"
                            required
                    ></b-form-select>
                </b-form-group>

                <b-form-group id="input-group-3" label="Invoice number:" label-for="input-3">
                    <b-form-input
                            id="input-3"
                            v-model="invoice_number"
                            required
                            placeholder="Invoice number"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-4" label="Order reference:" label-for="input-4">
                    <b-form-input
                            id="input-4"
                            v-model="order_reference"
                            placeholder="Order reference"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-5" label="Currency:" label-for="input-5">
                    <b-form-select
                            id="input-5"
                            v-model="currency_id"
                            :options="currency_ids"
                            required
                    ></b-form-select>
                </b-form-group>

                <b-form-group id="input-group-6" label="Incoterm:" label-for="input-6">
                    <b-form-select
                            id="input-6"
                            v-model="incoterm"
                            :options="incoterms"
                            required
                    ></b-form-select>
                </b-form-group>

                <b-form-group id="input-group-7" label="Payment terms:" label-for="input-7">
                    <b-form-input
                            id="input-7"
                            v-model="payment_terms"
                            required
                            placeholder="Payment terms"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-8" label="Total:" label-for="input-8">
                    <b-form-input
                            id="input-8"
                            type="number"
                            v-model="total"
                            required
                            placeholder="Total"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-9" label="Quantity:" label-for="input-9">
                    <b-form-input
                            id="input-9"
                            type="number"
                            v-model="quantity"
                            required
                            placeholder="Quantity"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-11" label="Measure:" label-for="input-11">
                    <b-form-select
                            id="input-11"
                            v-model="measure"
                            :options="measures"
                            required
                    ></b-form-select>
                </b-form-group>

                <b-form-group id="input-group-12" label="Production date:" label-for="input-12">
                    <b-form-input
                            id="input-12"
                            v-model="order_date"
                            type="date"
                            required
                            placeholder="Production date"
                    ></b-form-input>
                </b-form-group>


                <b-form-group id="input-group-13" label="Order status:" label-for="input-13">
                    <b-form-select
                            id="input-13"
                            v-model="status"
                            :options="order_statuses"
                            required
                    ></b-form-select>
                </b-form-group>

                <b-form-group id="input-group-15" label="Observations:" label-for="input-15">
                    <b-form-textarea
                            id="textarea"
                            v-model="observations"
                            placeholder="Observations..."
                            rows="3"
                            max-rows="6"
                    ></b-form-textarea>
                </b-form-group>


                <b-button to="/" variant="danger" class="float-left mt-3">
                    <b-badge variant="light"><</b-badge>
                    Cancel
                </b-button>
                <b-button type="submit" variant="primary" class="float-right mt-3">
                    Update
                    <b-badge variant="light"> > </b-badge>
                </b-button>
            </b-form>

        </b-card>
    </div>
</template>

<script>
    export default {
        name: "UpdateOrder",
        data() {
            return {
                /*Form inputs name*/
                company_id: null,
                supplier_company_id: null,
                buyer_company_id: null,
                invoice_number: '',
                order_reference: '',
                currency_id: null,
                payment_terms: '',
                total: '',
                quantity: '',
                order_date: '',
                observations: '',
                show: true,

                incoterm: null,
                incoterms: [
                    { value: 1, text: 'FOB' },
                    { value: 2, text: 'EXW' },
                    { value: 3, text: 'CFR' },
                    { value: 4, text: 'CIF' },
                    { value: 5, text: 'FCA' },
                    { value: 6, text: 'FAS' },
                    { value: 7, text: 'DDP' },
                    { value: 8, text: 'DAP' },
                    { value: 9, text: 'DAT' },
                    { value: 10, text: 'CIP' },
                    { value: 11, text: 'CPT' },
                ],
                status: null,
                order_statuses: [
                    { value: 1, text: 'Under Approval Client Side' },
                    { value: 2, text: 'Under Approval Factory Side' },
                    { value: 3, text: 'in Production' },
                    { value: 4, text: 'Produced' },
                    { value: 5, text: 'At the Warehouse' },
                    { value: 6, text: 'Loaded in Truck' },
                    { value: 7, text: 'Shipped / In Transit' },
                    { value: 8, text: 'Delivered' },
                ],
                measure: null,
                measures: [
                    { value: 1, text: 'pairs' },
                    { value: 2, text: 'liters' },
                    { value: 3, text: 'kilos' },
                ],

                /*Options For Selectboxes*/
                suppliers: [],
                buyers: [],
                currency_ids: [],
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault()
                let vm = this;
                let order_id = this.$route.params.id;
                let company_id = vm.company_id;
                let uri = `/api/company/${company_id}/order/${order_id}/update`
                let  supplier_company_id =  this.supplier_company_id;
                let  buyer_company_id =  this.buyer_company_id;
                let  invoice_number =  this.invoice_number;
                let  order_reference =  this.order_reference;
                let  currency_id =  this.currency_id;
                let  payment_terms =  this.payment_terms;
                let  total =  this.total;
                let  quantity =  this.quantity;
                let  order_date =  moment(this.order_date).format('YYYY-MM-DD');
                let  observations =  this.observations;
                let  incoterm =  this.incoterm;
                let  status =  this.status;
                let  measure =  this.measure;

                this.axios.put(uri, {
                    company_id,
                    supplier_company_id,
                    buyer_company_id,
                    invoice_number,
                    order_reference,
                    currency_id,
                    payment_terms,
                    total,
                    quantity,
                    order_date,
                    observations,
                    incoterm,
                    status,
                    measure
                } ).then((response) => {
                    flash({msg: "Order successfully updated", type: 'success'});
                    vm.$router.push({name: 'detailsCompany', params: { id: company_id , key: 1} });
                }).catch((error) => {
                    flash({msg: error.response.data, type: 'error'});
                }).finally(() => {

                });
            }
        },
        created() {
            let getCompaniesUri = '/api/getCompanies';
            let getCurrenciesUri = '/api/getCurrencies';
            let getOrders = `/api/order/${this.$route.params.id}`;
            let vm = this;
            this.axios.get(getCompaniesUri).then(response => {
                vm.suppliers = response.data;
                vm.buyers = response.data;
            });
            this.axios.get(getCurrenciesUri).then(response => {
                vm.currency_ids = response.data;
            });
            this.axios.get(getOrders).then(response => {
                vm.order = response.data;
                vm.company_id = vm.order.company_id;
                vm.supplier_company_id = vm.order.supplier_company_id;
                vm.buyer_company_id = vm.order.buyer_company_id;
                vm.invoice_number = vm.order.invoice_number;
                vm.order_reference = vm.order.order_reference;
                vm.currency_id = vm.order.currency_id;
                vm.payment_terms = vm.order.payment_terms;
                vm.total = vm.order.total;
                vm.quantity = vm.order.quantity;
                vm.order_date = moment(vm.order.order_date).format('YYYY-MM-DD');
                vm.observations = vm.order.observations;
                vm.incoterm = vm.order.incoterm;
                vm.status = vm.order.status;
                vm.measure = vm.order.measure;

            })
        },

    }
</script>

<style scoped>

</style>