<template>
    <div class="col-md-12">

        <b-card-header class="d-inline-block w-100">
            <h4 class="float-left">Create Contact for Company</h4>
        </b-card-header>
        <b-card class="mt-3">

            <b-form @submit="onSubmit" >
                <b-form-group id="input-group-1" label="Name:" label-for="input-2">
                    <b-form-input
                            id="input-1"
                            v-model="name"
                            required
                            placeholder="Enter name"
                    ></b-form-input>
                </b-form-group>


                <b-form-group id="input-group-2" label="E-mail:" label-for="input-2">
                    <b-form-input
                            id="input-2"
                            v-model="email"
                            placeholder="Enter e-mail"
                            required
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-3" label="Phone:" label-for="input-3">
                    <b-form-input
                            id="input-3"
                            v-model="phone"
                            placeholder="Enter phone"
                    ></b-form-input>
                </b-form-group>

                <b-button to="/" variant="danger" class="float-left mt-3">
                    <b-badge variant="light"><</b-badge>
                    Cancel
                </b-button>
                <b-button type="submit" variant="primary" class="float-right mt-3">
                    Create
                    <b-badge variant="light"> > </b-badge>
                </b-button>
            </b-form>



        </b-card>
    </div>
</template>

<script>
    export default {
        name: "CreateContact",
        data() {
            return {
                /*Form inputs name*/
                name: '',
                email: '',
                phone: '',
                show: true
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault()
                let vm = this;
                let uri = '/api/contact/create'
                let name = this.name;
                let email = this.email;
                let phone = this.phone;
                let company_id = this.$route.params.id;

                this.axios.post(uri, { name, company_id, email, phone } ).then((response) => {
                    flash({msg: "Contact successfully created", type: 'success'});
                    vm.$router.push({name: 'detailsCompany', params: { id: this.$route.params.id , key: 2} });
                }).catch((error) => {
                    flash({msg: error.response.data, type: 'error'});
                }).finally(() => {

                });
            }
        }
    }
</script>

<style scoped>

</style>