<template>
    <div class="col-md-12">
        <div v-if="isBusy" class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
        </div>
        <div v-if="error" class="text-center text-danger my-2">
            <strong> Error: {{ }}</strong>
        </div>
        <div v-if="show">
            <b-card-header class="d-inline-block w-100" >
                <div>
                    <div class="float-left">
                        <b-card-text>
                            <h4>{{ company.name }}</h4>
                        </b-card-text>
                        <b-card-text>
                            <img :src="imageFlagsPath+country.flag" > {{ country.full_name }}
                        </b-card-text>
                    </div>
                    <b-button :to="{name: 'updateCompany', params: { id: company.id }}" variant="primary" class="float-right">
                        Edit
                    </b-button>
                </div>
            </b-card-header>
            <b-card class="mt-3">
                <div>
                    <b-tabs content-class="mt-3" v-model="tabIndex">

                        <!--Company Tab-->
                        <b-tab title="Company">
                            <!-- Details Info Section -->
                            <hr>
                            <b-card-group deck class="mt-3">
                                <b-card header="Company Details">
                                    <b-card-text>
                                        <div v-if="company.address">
                                            <p class="text-capitalize"><b>Address</b>: {{ company.address }}</p>
                                        </div>
                                        <div v-if="company.address2">
                                            <p class="text-capitalize"><b>Address 2</b>: {{ company.address2 }}</p>
                                        </div>
                                        <div v-if="company.city">
                                            <p class="text-capitalize"><b>City</b>: {{ company.city }}</p>
                                        </div>
                                        <div v-if="company.state">
                                            <p class="text-capitalize"><b>State</b>: {{ company.state }}</p>
                                        </div>
                                        <div v-if="company.type">
                                            <p class="text-capitalize"><b>Company Type</b>: {{ company.type }}</p>
                                        </div>
                                        <div v-if="company.bank_info">
                                            <p class="text-capitalize"><b>Bank Info</b>: {{ company.bank_info }}</p>
                                        </div>
                                        <div v-if="company.website">
                                            <p class="text-capitalize"><b>Website</b>: <a class="text-lowercase" :href="`{{ company.website }}`">{{ company.website }}</a></p>
                                        </div>
                                    </b-card-text>
                                </b-card>
                            </b-card-group>
                        </b-tab>

                        <!--Orders Tab-->
                        <b-tab title="Orders">
                            <!--Order Section -->

                            <!-- Order header -->
                            <b-card-header class="d-inline-block w-100">
                                <h4 class="float-left">Orders</h4>
                                <b-button :to="{name: 'createOrder', params: { id: this.$route.params.id }}" variant="primary" class="float-right">
                                    Create order
                                    <b-badge variant="light">+</b-badge>
                                </b-button>
                            </b-card-header>
                            <!-- Order Body Accordion -->
                            <template>
                                <order-list></order-list>
                            </template>

                            <!-- Details Info Section -->
                            <hr>

                        </b-tab>
                        <!-- Contacts Tab -->
                        <b-tab title="Contacts">
                            <div class="mt-3">
                                <div>
                                    <b-card-header class="d-inline-block w-100 bg-light">
                                        <b-button :to="{name: 'createContact', params: { id: this.$route.params.id }}" variant="primary" class="float-right">
                                            Add Contact
                                            <b-badge variant="light">+</b-badge>
                                        </b-button>
                                    </b-card-header>
                                </div>
                                <b-card v-show="contact.length" border-variant="dark" class="mt-3 bg-white" v-for="( item, index ) in contact" v-bind:key="item.id">
                                        <div>
                                            <div class="float-left">
                                                <b-card-text>
                                                    <h4>{{ item.name }}</h4>
                                                </b-card-text>
                                                <b-card-text>
                                                    <h6>{{ item.email }}</h6>
                                                </b-card-text>
                                            </div>
                                            <div class="float-right">
                                                <b-card-text>
                                                    {{ item.phone}}
                                                </b-card-text>
                                            </div>
                                            <br>
                                            <b-button @click = deleteContact(item) variant="danger" size="sm" class="mt-1 float-right">
                                                Delete
                                            </b-button>
                                            <b-button :to="{name: 'updateContact', params: { id: item.id }}" variant="primary" size="sm" class="mt-1 mr-2 float-right">
                                                Edit
                                            </b-button>
                                        </div>
                                </b-card>
                                <b-card v-show="!contact.length" border-variant="dark" align="center" class="mt-3 bg-white">
                                    <b-card-text>You Haven't Any Attachments</b-card-text>
                                </b-card>
                            </div>
                        </b-tab>
                        <!-- Attachments Tab -->
                        <b-tab title="Attachments">
                            <div class="mt-3">
                                <div>
                                    <b-card-header class="d-inline-block w-100 bg-light">
                                        <b-button to="/create-order" variant="primary" class="float-right" disabled>
                                            Add Attachments
                                            <b-badge variant="light">+</b-badge>
                                        </b-button>
                                    </b-card-header>
                                </div>
                                <b-card border-variant="dark" align="center" class="mt-3 bg-white">
                                    <b-card-text>You Haven't Any Attachments</b-card-text>
                                </b-card>
                            </div>
                        </b-tab>
                    </b-tabs>
                </div>
            </b-card>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                /*Options For Selectboxes*/
                imageFlagsPath: 'img/flags/',
                country: {},
                show: false,
                company: {},
                contact: {},
                isBusy: true,
                tabIndex: 0,
                message: null,
                error: null
            }
        },
        methods: {
            deleteContact(item){
                if (confirm('Are You Sure')) {
                    let uri = `/api/company/${this.company.id}/contact/${item.id}/delete`;
                    let vm = this;
                    this.axios.delete(uri).then(response => {
                        flash({msg: "Contact successfully deleted", type: 'success'});
                        vm.contact.splice(vm.contact.indexOf(item), 1);
                        /*vm.$router.push({name: 'companies'});*/
                    }).catch((error) => {
                        flash({msg: error.response.data, type: 'error'});
                    })
                }
            },
        },
        created() {
            this.tabIndex = this.$route.params.key;

            let getCompany = `/api/getCompanyForUpdate/${this.$route.params.id}`;
            let getCountryUrl = null;
            let vm = this;
            let current_country_id = null;
            this.axios.get(getCompany).then(response => {
                vm.company = response.data;
                vm.contact = vm.company.contact
                current_country_id = response.data.country_id;
                getCountryUrl = `/api/getCountryByID/${current_country_id}`;
            }).catch((error) => {
                vm.$router.push({name: '403' });
            }).finally(() => {
                this.axios.get(getCountryUrl).then(response => {
                    vm.country = response.data;
                }).finally(() => {
                    vm.isBusy = false;
                    vm.show = true;
                })
            })
        },
    }
</script>

<style scoped>
*{
    outline:none;
}
</style>
