<template>
    <div class="col-md-12">
        <b-card-header class="d-inline-block w-100">
            <h4 class="float-left">Companies</h4>
            <b-button to="/create-company" variant="primary" class="float-right">
                Create Company
                <b-badge variant="light">+</b-badge>
            </b-button>
        </b-card-header>

        <b-card class="mt-3">
            <b-container fluid>
                <!-- User Interface controls -->
                <b-row>
                    <b-col md="6" class="my-1">
                        <b-form-group label-cols-sm="3" label="Filter" class="mb-0">
                            <b-input-group>
                                <b-form-input v-model="filter" placeholder="Type to Search"></b-form-input>
                                <b-input-group-append>
                                    <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </b-col>

                    <b-col md="6" class="my-1">
                        <b-form-group label-cols-sm="3" label="Sort" class="mb-0">
                            <b-input-group>
                                <b-form-select v-model="sortBy" :options="sortOptions">
                                    <option slot="first" :value="null">-- none --</option>
                                </b-form-select>
                                <b-form-select v-model="sortDesc" :disabled="!sortBy" slot="append">
                                    <option :value="false">Asc</option> <option :value="true">Desc</option>
                                </b-form-select>
                            </b-input-group>
                        </b-form-group>
                    </b-col>

                    <b-col md="6" class="my-1">
                        <b-form-group label-cols-sm="3" label="Sort direction" class="mb-0">
                            <b-input-group>
                                <b-form-select v-model="sortDirection" slot="append">
                                    <option value="asc">Asc</option> <option value="desc">Desc</option>
                                    <option value="last">Last</option>
                                </b-form-select>
                            </b-input-group>
                        </b-form-group>
                    </b-col>

                    <b-col md="6" class="my-1">
                        <b-form-group label-cols-sm="3" label="Per page" class="mb-0">
                            <b-form-select v-model="perPage" :options="pageOptions"></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>

                <!-- Main table element -->
                <b-table
                        show-empty
                        stacked="md"
                        :items="items"
                        :fields="fields"
                        :current-page="currentPage"
                        :per-page="perPage"
                        :filter="filter"
                        :sort-by.sync="sortBy"
                        :sort-desc.sync="sortDesc"
                        :sort-direction="sortDirection"
                        @filtered="onFiltered"
                >
                    <template slot="country_id" slot-scope="row">
                        <img @error="imageLoadError(row.index)" :src="imageFlagsPath+row.item.country.flag" > <br>
                        {{ row.item.country.name }}
                    </template>

                    <template slot="company_name" slot-scope="row">
                        {{ row.item.name }} <br>
                        ( {{ row.item.type }} )
                    </template>

                    <template slot="actions" slot-scope="row">
                        <b-button :to="{name: 'detailsCompany', params: { id: row.item.id }}" variant="primary" class="float-right">
                            Show Details
                        </b-button>
                    </template>
                </b-table>

                <b-row>
                    <b-col md="6" class="my-1">
                        <b-pagination
                                v-model="currentPage"
                                :total-rows="totalRows"
                                :per-page="perPage"
                                class="my-0"
                        ></b-pagination>
                    </b-col>
                </b-row>

            </b-container>
        </b-card>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                imageFlagsPath: 'img/flags/',
                items: [],
                fields: [
                    {key: 'country_id', label: 'Countries', sortable: true, sortDirection: 'desc'},
                    {key: 'company_name', label: 'Company Name', sortable: true, sortDirection: 'desc'},

                    {key: 'actions', label: 'Actions'}
                ],
                currentPage: 1,
                perPage: 5,
                pageOptions: [5, 10, 15],
                sortBy: null,
                sortDesc: false,
                sortDirection: 'desc',
                filter: null,
                totalRows: ''
            }
        },
        computed: {
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return { text: f.label, value: f.key }
                    })
            }
        },
        created() {
            let getCountrieUri = '/api/companies';
            let totalRows = '';
            let vm = this;
            this.axios.get(getCountrieUri).then(response => {
                vm.items = response.data;
                totalRows = this.items.length;
                vm.totalRows = parseInt(totalRows);
            })
        },
        mounted() {

            // Set the initial number of items
            this.totalRows = this.items.length
        },
        methods: {
            imageLoadError (index) {
                console.log("missing: flag image");

            },
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            }
        }
    }
</script>

<style scoped>

</style>
