<template>
    <div class="col-md-12">
        <b-card-header class="d-inline-block w-100">
            <h4 class="float-left">Update Contact</h4>
        </b-card-header>
        <b-card class="mt-3">

            <b-form @submit="onSubmit" >
                <b-form-group id="input-group-1" label="Name:" label-for="input-2">
                    <b-form-input
                            id="input-1"
                            v-model="name"
                            required
                            placeholder="Enter name"
                    ></b-form-input>
                </b-form-group>


                <b-form-group id="input-group-2" label="E-mail:" label-for="input-2">
                    <b-form-input
                            id="input-2"
                            v-model="email"
                            placeholder="Enter e-mail"
                            required
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-3" label="Phone:" label-for="input-3">
                    <b-form-input
                            id="input-3"
                            v-model="phone"
                            placeholder="Enter phone"
                    ></b-form-input>
                </b-form-group>

                <b-button @click="$router.go(-1)" variant="danger" class="float-left mt-3">
                    <b-badge variant="light"><</b-badge>
                    Cancel
                </b-button>
                <b-button type="submit" variant="primary" class="float-right mt-3">
                    Update
                    <b-badge variant="light"> > </b-badge>
                </b-button>
            </b-form>



        </b-card>
    </div>
</template>

<script>
    export default {
        name: "UpdateContact",
        data() {
            return {
                /*Form inputs name*/
                company_id: '',
                name: '',
                email: '',
                phone: '',
                show: true
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault()
                let vm = this;
                let uri = `/api/company/${vm.company_id}/contact/${this.$route.params.id}/update`;
                let name = this.name;
                let email = this.email;
                let phone = this.phone;

                this.axios.put(uri, { name, email, phone } ).then((response) => {
                    flash({msg: "Contact successfully updated", type: 'success'});
                    vm.$router.push({name: 'detailsCompany', params: { id: vm.company_id } });
                }).catch((error) => {
                    flash({msg: error.response.data, type: 'error'});
                }).finally(() => {

                });
            }
        },
        created() {
            let getContact = `/api/getContactForUpdate/${this.$route.params.id}`;
            let vm = this;
            this.axios.get(getContact).then(response => {
                vm.company_id = response.data.company_id;
                vm.name = response.data.name;
                vm.email = response.data.email;
                vm.phone = response.data.phone;
            });
        },
    }
</script>

<style scoped>

</style>