<template>

    <div class="col-md-12">

        <b-card-header class="d-inline-block w-100">
            <h4 class="float-left">Update Company</h4>
            <b-button @click = deleteCompany(company.id) variant="danger" class="float-right">
                Delete
            </b-button>
        </b-card-header>
        <b-card class="mt-3">

            <b-form @submit="onSubmit"  v-if="show">
                <b-form-group id="input-group-1" label="Your Name:" label-for="input-2">
                    <b-form-input
                            id="input-1"
                            v-model="name"
                            required
                            placeholder="Enter name"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-2" label="Country:" label-for="input-2">
                    <b-form-select
                            id="input-2"
                            v-model="country"
                            :options="countries"
                            required
                    ></b-form-select>
                </b-form-group>

                <b-form-group id="input-group-3" label="Address:" label-for="input-3">
                    <b-form-input
                            id="input-3"
                            v-model="address"
                            placeholder="Enter address"
                            required
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-4" label="Address 2:" label-for="input-4">
                    <b-form-input
                            id="input-4"
                            v-model="address2"
                            placeholder="Enter address 2"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-5" label="City:" label-for="input-5">
                    <b-form-input
                            id="input-5"
                            v-model="city"
                            placeholder="City"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-6" label="State:" label-for="input-6">
                    <b-form-input
                            id="input-6"
                            v-model="state"
                            placeholder="State"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-7" label="Company Type:" label-for="input-7">
                    <b-form-select
                            id="input-7"
                            v-model="company_type"
                            :options="company_type_options"
                            selected
                            required
                    ></b-form-select>
                </b-form-group>

                <b-form-group id="input-group-8" label="Website:" label-for="input-8">
                    <b-form-input
                            id="input-8"
                            v-model="website"
                            placeholder="Website"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-9" label="Bank Information:" label-for="input-9">
                    <b-form-textarea
                            id="textarea"
                            v-model="bank_info"
                            placeholder="Bank Information..."
                            rows="3"
                            max-rows="6"
                    ></b-form-textarea>
                </b-form-group>


                <b-button @click="goBack()" variant="danger" class="float-left mt-3">
                    <b-badge variant="light"><</b-badge>
                    Cancel
                </b-button>
                <b-button type="submit" variant="primary" class="float-right mt-3">
                    Update
                    <b-badge variant="light"> > </b-badge>
                </b-button>
            </b-form>

        </b-card>
    </div>
</template>

<script>
    export default {
        name: "Update",
        data() {
            return {
                /*Form inputs name*/
                name: '',
                country: '',
                address: '',
                address2: '',
                city: '',
                state: '',
                company_type: '',
                website: '',
                bank_info: '',

                /*Options For Selectboxes*/
                countries: [],
                company_type_options: ['Factory', 'Wholesaler', 'Retailer'],
                show: true,

                company: null
            }
        },
        methods: {
            goBack(){
                this.$router.go(-1);
            },
            deleteCompany(id){
                if (confirm('Are You Sure')) {
                    let uri = `/api/company/${id}/delete`;
                    let vm = this;
                    this.axios.delete(uri).then(response => {
                        flash({msg: "Company successfully deleted", type: 'success'});
                        vm.$router.push({name: 'companies' });
                    }).catch((error) => {
                        flash({msg: error.response.data, type: 'error'});
                    })
                }
            },
            onSubmit(evt) {
                evt.preventDefault()
                let vm = this;
                let uri = `/api/company/${this.$route.params.id}/update`;
                let name = this.name;
                let country_id = this.country;
                let address = this.address;
                let address2 = this.address2;
                let city = this.city;
                let state = this.state;
                let type = this.company_type;
                let website = this.website;
                let bank_info = this.bank_info;
                this.axios.put(uri, { name, country_id, address, address2, city, state, type, website, bank_info } ).then((response) => {
                    flash({msg: "Company successfully updated", type: 'success'});
                    vm.$router.push({name: 'companies' });
                }).catch((error) => {
                    flash({msg: error.response.data, type: 'error'});
                }).finally(() => {

                });
            }
        },
        created() {
            let getCompany = `/api/getCompanyForUpdate/${this.$route.params.id}`;
            let uri = '/api/getCountries';
            let vm = this;
            let country_id = null;
            this.axios.get(getCompany).then(response => {
                vm.company = response.data
                vm.name = response.data.name;
                country_id  = response.data.country_id;
                vm.address = response.data.address;
                vm.address2 = response.data.address2;
                vm.city = response.data.city;
                vm.state = response.data.state;
                vm.company_type = response.data.type;
                vm.website = response.data.website;
                vm.bank_info = response.data.bank_info;
            })
            this.axios.get(uri).then(response => {
                vm.countries = response.data;
            }).finally(function () {
                vm.country = country_id;
            })

        },
    }
</script>

<style scoped>

</style>
