<template>
    <div class="hello">
        <h2>You don't have permission to see this resource.</h2>
    </div>
</template>

<script>
    export default {
        name: "403.vue"
    }
</script>

<style scoped>

</style>