<template>
    <div class="container-fluid">
        <!-- Success MSG Alert block-->

        <b-alert
                :variant="key"
                fade
                class="spacing"
                :show="success_status"
        >
            {{ success_msg }}
        </b-alert>

        <!-- Success MSG Alert block-->

        <!-- Error MSG Alert block-->
        <div v-if="error_status">
            <b-alert
                    variant="warning"
                    fade
                    :show="error_status"
            >
                {{ errors_msg.message }}
            </b-alert>
            <div v-for="(item, index_key) in errors_msg.errors">
                <b-alert
                        :variant="key"
                        fade
                        :show="error_status"
                >
                    <span v-for="(mess, index_key) in item">
                        {{ mess }}
                    </span>

                </b-alert>
            </div>
        </div>

        <!-- Error MSG Alert block-->
    </div>
</template>

<script>
    export default {
        props: ['message'],
        data() {
            return {
                error_alert_type: "danger",
                success_alert_type: "success",
                error_status: false,
                errors_msg: '',
                success_status : false,
                success_msg : '',
                key: ''
            }
        },
        created() {
            if(this.message) {
                this.flash(this.message)
            }
            window.events.$on('flash',(message) => this.flash(message))
        },
        methods: {
            flash(message) {

                if(message.type === 'error'){
                    this.errors_msg = message.msg;
                    this.key = this.error_alert_type;
                    this.error_status = true;
                    console.log(this.errors_msg.errors)
                }else{
                    this.success_msg = message.msg;
                    this.key = this.success_alert_type;
                    this.success_status = true;
                }
                setTimeout(() => {
                    this.hide()
                },6000)
            },
            hide() {
                this.success_status = false
            }
        }
    }
</script>

<style>
    .spacing {
        position: fixed;
        right: 25px;
        top: 90px;
        z-index: 99;
    }
</style>
